nav.navbar {
    >.navbar-nav {
        list-style-type: none;
        overflow: hidden;
        background: #059;
        margin: 0;
        padding: 0;

        >li.nav-item {
            float: left;
            padding: 16px 0;

            >a {
                padding: 16px 28px;
                text-decoration: none;
                color: #fff;

                &:hover {
                    background: #16a;
                }
            }
        }
    }
}