.meui-button {
    padding: 10px 24px;
    background: #16c;
    border: 1px solid #04a;
    border-radius: 3px;
    font-size: inherit;
    color: #fff;
    outline: none;
    box-shadow: 0 0 6px #24c inset;

    &:not(:disabled):hover {
        background: #16e;
    }

    &:not(:disabled):active {
        box-shadow: 0 2px 6px #13a inset;
        transform: translate(0, 1px);
    }
}